<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-sm navbar-dark mb-5" style="background-color:rgb(77, 79, 80);">
        <a class="navbar-brand mr-5"><b>Project Managements</b></a>
        <ul class="nav nav-tabs">
            <li role="presentation" routerLinkActive="active">
                <a class="nav-link text-white mr-4 font-weight-bold font-italic" routerLink="/projects">Add Project</a>
            </li>
            <li role="presentation" routerLinkActive="active">
                <a class="nav-link text-white mr-4 font-weight-bold font-italic" routerLink="/addTask">Add Task</a>
            </li>
            <li role="presentation" routerLinkActive="active">
                <a class="nav-link text-white mr-4 font-weight-bold font-italic" routerLink="/users">Add User</a>
            </li>
            <li role="presentation" routerLinkActive="active">
                <a class="nav-link text-white font-weight-bold font-italic" routerLink="/tasks">View Task</a>
            </li>
        </ul>
    </nav>
</div>